<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uvdownloader</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <h1>Uvdownloader</h1>
   

        <section class="form-container">
            <form action="data" method="post">
                <h2>Download Videos</h2>
                <div class="form-group">
                    <label for="url">Video Link:</label>
                    <input name="url" type="url" id="url" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Download" id="submit_button">
                </div>
            </form>
        </section>
    </main>
    <footer>
        <p>Created by: <a href="https://youtube.com/@Hsc_admission23?si=aUGNI6I16IKWxA5w" target="_blank">ORZ952</a></p>
        <p>Join Us: <a href="https://facebook.com/groups/780781737137544/" target="_blank">Facebook Group</a></p>
        <p>&copy; 2023 ORZ952</p>
    </footer>
</body>
</html>

                
                
